<!DOCTYPE html>
<html>
<head th:replace="layoutadmin :: head">
<meta charset="utf-8" />
</head>
<body>
	<header th:replace="layoutadmin :: bodyhead"> </header>
	<!--aside nav-->
	<aside th:replace="layoutadmin :: bodymenu"></aside>
	<section class="rt_wrap content mCustomScrollbar">
		<div class="rt_content">

			<div class="page_title">
				<h2 class="fl">北京房地产签约数据</h2>
			</div>
			<table class="table">
				<tr>
					<th>日期</th>
					<th>存量房普通住宅</th>
					<th>存量房总</th>
					<th>期房普通住宅</th>
					<th>期房总</th>
					<th>现房普通住宅</th>
					<th>现房总</th>
				</tr>
				<tr th:each="data : ${Page.records}">
					<td style="width: 265px;"><div class="cut_title ellipsis"
							th:text="${data.riqi}">日期1</div></td>
					<td th:text="${data.cunliangfang_zhuzhai}">存量房普通住宅数</td>
					<td th:text="${data.cunliangfang_zong}">存量房总数</td>
					<td th:text="${data.qifang_zhuzhai}">期房普通住宅数</td>
					<td th:text="${data.qifang_zong}">期房总数</td>
					<td th:text="${data.xianfang_zhuzhai}">现房普通住宅数</td>
					<td th:text="${data.xianfang_zong}">现房总数</td>
				</tr>
			</table>
			<br/>
			<div >
				<a href="fangdicanshuju.html?curPage=1">首页</a>
				<a th:if="${Page.currentpage > 1} == true" href="fangdicanshuju.html?curPage=1" th:href="@{fangdicanshuju.html(curPage=${Page.currentpage - 1})}">上一页</a>
				<a th:if="${Page.totalpage > Page.currentpage } == true" href="fangdicanshuju.html?curPage=2" th:href="@{fangdicanshuju.html(curPage=${Page.currentpage + 1})}">下一页</a>
				<a href="fangdicanshuju.html?curPage=1" th:href="@{fangdicanshuju.html(curPage=${Page.totalpage})}">末页</a>
				<spawn th:text="' ' + ${Page.totalrecord}+'条  ' + ${Page.currentpage} + '/' + ${Page.totalpage}+ '页' " > 1条  2/10页 </spawn>
			</div>
		</div>
	</section>
</body>
</html>
