<!DOCTYPE html>
<html>
<head th:replace="layoutadmin :: head">
<meta charset="utf-8" />
</head>
<body>
	<header th:replace="layoutadmin :: bodyhead"> </header>
	<!--aside nav-->
	<aside th:replace="layoutadmin :: bodymenu"></aside>
	<section class="rt_wrap content mCustomScrollbar">
		<div class="rt_content">

			<div class="page_title">
				<h2 class="fl">数据库信息</h2>
			</div>
			<table class="table">
				<tr>
					<th>数据库名称</th>
					<th>数据库记录数</th>
				</tr>
				<tr>
					<td style="width: 265px;"><div class="cut_title ellipsis">水木数据总记录数</div></td>
					<td th:text="${Newsmth_Count}">数据库记录数</td>
				</tr>
				<tr>
					<td style="width: 265px;"><div class="cut_title ellipsis">水木数据照片总记录数</div></td>
					<td th:text="${Newsmth_Photo_Count}">数据库记录数</td>
				</tr>
				<tr>
					<td style="width: 265px;"><div class="cut_title ellipsis">指数数据总记录数</div></td>
					<td th:text="${StockIndex_Count}">指数数据总记录数</td>
				</tr>

				<tr>
					<td style="width: 265px;"><div class="cut_title ellipsis">北京空气质量表总记录</div></td>
					<td th:text="${KongQiZhiLiang_Count}">指数数据总记录数</td>
				</tr>

				<tr>
					<td style="width: 265px;"><div class="cut_title ellipsis">北京房地产数据表总记</div></td>
					<td th:text="${Beijing_fangdican_qianyue_Count}">指数数据总记录数</td>
				</tr>
				
			</table>

		</div>
	</section>
</body>
</html>
