<!DOCTYPE html>
<html>
<head th:replace="layoutadmin :: head">
<meta charset="utf-8" />
</head>
<body>
	<header th:replace="layoutadmin :: bodyhead"> </header>
	<!--aside nav-->
	<aside th:replace="layoutadmin :: bodymenu"></aside>
	<section class="rt_wrap content mCustomScrollbar">
		<div class="rt_content">

			<div class="page_title">
				<h2 class="fl">股票300-创业板模型数据</h2>
			</div>
			<table class="table">
				<tr>
					<th>日期</th>
					<th>收盘价格</th>
					<th>收盘股票名称</th>
					<th>下一个交易日股票名称</th>
					<th>下下一个交易日股票名称</th>
				</tr>
				<tr th:each="obj : ${Page.records}">
					<td style="width: 265px;"><div class="cut_title ellipsis"
							th:text="${obj.riqi}">日期1</div></td>
					<td th:text="${obj.closeprice}">收盘价格</td>
					<div th:switch="${obj.currStockName}">
						<td th:case="'sh000300'">沪深300</td>
						<td th:case="'sz399006'">创业板指</td>
						<td th:case="*"></td>
					</div>
					<div th:switch="${obj.nextStockName}">
						<td th:case="'sh000300'">沪深300</td>
						<td th:case="'sz399006'">创业板指</td>
						<td th:case="*"></td>
					</div>
					<div th:switch="${obj.nnextStockName}">
						<td th:case="'sh000300'">沪深300</td>
						<td th:case="'sz399006'">创业板指</td>
						<td th:case="*"></td>
					</div>
				</tr>
			</table>
			<br />
			<div>
				<a href="stockm300_chuangyeban.html?curPage=1">首页</a> <a
					th:if="${Page.currentpage > 1} == true"
					href="stockm300_500.html?curPage=1"
					th:href="@{stockm300_chuangyeban.html(curPage=${Page.currentpage - 1})}">上一页</a>
				<a th:if="${Page.totalpage > Page.currentpage } == true"
					href="stockm300_500.html?curPage=2"
					th:href="@{stockm300_chuangyeban.html(curPage=${Page.currentpage + 1})}">下一页</a>
				<a href="stockm300_500.html?curPage=1"
					th:href="@{stockm300_chuangyeban.html(curPage=${Page.totalpage})}">末页</a>
				<spawn
					th:text="' ' + ${Page.totalrecord}+'条  ' + ${Page.currentpage} + '/' + ${Page.totalpage}+ '页' ">
				1条 2/10页 </spawn>
			</div>
		</div>
	</section>
</body>
</html>
