<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutblog :: bootstrap">
<meta charset="UTF-8" />
</head>

<body style="margin-top: 50px;">
	<div class="container-fluid" th:replace="layoutblog :: navbar" />

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2" id="sidebar" style="padding: 0;">
				<ul class="side-menu" th:replace="layoutblog :: sidebar" />
				<script type="text/javascript" src="/blog/js/backend/sidebar.js"></script>
			</div>

			<div class="col-sm-9 col-md-10">
				<ol class="breadcrumb header">
					<li><span class="icon glyphicon glyphicon-home"></span>主菜单</li>
					<li>数据管理</li>
					<li class="active">房地产数据</li>
				</ol>
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="icon glyphicon glyphicon-briefcase"></span>北京房地产数据
					</div>
					<div class="panel-body">

						<table class="table">
				<tr>
					<th>日期</th>
					<th>存量房普通住宅</th>
					<th>存量房总</th>
					<th>期房普通住宅</th>
					<th>期房总</th>
					<th>现房普通住宅</th>
					<th>现房总</th>
				</tr>
				<tr th:each="data : ${Page.records}">
					<td style="width: 265px;"><div class="cut_title ellipsis"
							th:text="${#calendars.format(data.riqi, 'yyyy-MM-dd')}" >日期1</div></td>
					<td th:text="${data.cunliangfang_zhuzhai}">存量房普通住宅数</td>
					<td th:text="${data.cunliangfang_zong}">存量房总数</td>
					<td th:text="${data.qifang_zhuzhai}">期房普通住宅数</td>
					<td th:text="${data.qifang_zong}">期房总数</td>
					<td th:text="${data.xianfang_zhuzhai}">现房普通住宅数</td>
					<td th:text="${data.xianfang_zong}">现房总数</td>
				</tr>
			</table>
			<br/>
			<aside class="paging">
				<a href="fangdicanshuju?curPage=1">首页</a>
				<a th:if="${Page.currentpage > 1} == true" href="fangdicanshuju?curPage=1" th:href="@{fangdicanshuju(curPage=${Page.currentpage - 1})}">上一页</a>
				<a th:if="${Page.totalpage > Page.currentpage } == true" href="fangdicanshuju.html?curPage=2" th:href="@{fangdicanshuju(curPage=${Page.currentpage + 1})}">下一页</a>
				<a href="fangdicanshuju.html?curPage=1" th:href="@{fangdicanshuju(curPage=${Page.totalpage})}">末页</a>
				<spawn th:text="' ' + ${Page.totalrecord}+'条  ' + ${Page.currentpage} + '/' + ${Page.totalpage}+ '页' " > 1条  2/10页 </spawn>
			</aside>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>