<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutblog :: bootstrap">
<meta charset="UTF-8" />
</head>

<body style="margin-top: 50px;">
	<div class="container-fluid" th:replace="layoutblog :: navbar" />

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2" id="sidebar" style="padding: 0;">
				<ul class="side-menu" th:replace="layoutblog :: sidebar" />
				<script type="text/javascript" src="/blog/js/backend/sidebar.js"></script>
			</div>

			<div class="col-sm-9 col-md-10">
				<ol class="breadcrumb header">
					<li><span class="icon glyphicon glyphicon-home"></span>主菜单</li>
					<li>股票信息</li>
					<li class="active">股票前复权日线</li>
				</ol>
				<div class="panel panel-default">
					<div class="panel-heading">
						<span class="icon glyphicon glyphicon-briefcase"></span>股票前复权日线
					</div>
					<div class="panel-body">
						
            <table class="table">
				<tr>
					<th>日期</th>
					<th>股票代码</th>
					<th>开盘价格</th>
					<th>收盘价格</th>
					<th>成交金额</th>
				</tr>
				<tr th:each="obj : ${Page.records}">
					<td th:text="${#calendars.format(obj.pk.riqi, 'yyyy-MM-dd')}" >日期1</td>
					<td th:text="${obj.pk.code}">代码</td>
					<td th:text="${obj.open}">开盘价格</td>
					<td th:text="${obj.close}">收盘价格</td>
					<td th:text="${obj.amount}">成交金额</td>
				</tr>
			</table>
			
			<br/>
			<aside class="paging">
				<a href="1">首页</a>
				<a th:if="${Page.currentpage > 1} == true" href="#" th:href="@{${Page.currentpage - 1}}">上一页</a>
				<a th:if="${Page.totalpage > Page.currentpage } == true" href="#" th:href="@{${Page.currentpage + 1}}">下一页</a>
				<a href="#" th:href="@{${Page.totalpage}}">末页</a>
				<spawn th:text="' ' + ${Page.totalrecord}+'条  ' + ${Page.currentpage} + '/' + ${Page.totalpage}+ '页' " > 1条  2/10页 </spawn>
			</aside>
						

					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>